$primary-font: Helvetica, sans-serif;
$primary-color: #333;
$font-primary-size: 12px;
$font-primary-bold: 14px;


//button
$button-primary-color:  #63C11A;
$button-primary-font-color: #ffffff;

$body-background-color: #d3d3d3;